In [9]:
# -------------------------------------------------------------------
# -------------------------------------------------------------------
# ---------------------- Data Analysis Exercise  
# ---------------------- Senior Fraud Data Analyst (DA-IV) 
# ---------------------- Texas HHS â€“ Office of Inspector General 
# -------------------------------------------------------------------
# -------------------------------------------------------------------

In [10]:
# -------------------------------------------------------------------
# -------------------------- INITIAL EDA AND DATA PREP

In [11]:
# ------------- Importing required packages
import pandas as pd

# ----------------------------- Sheet 1 : Claims

In [12]:
# Reading in the data from excel -
claims_df = pd.read_excel('data/Medicaid_Fraud_Case.xlsx', sheet_name='Claims')

In [13]:
claims_df.head()

,Claim ID,Provider ID,Client ID,Proc Code,Claim Status Code,From Service Date,To Service Date,Billed Amount ($),Paid Amount ($)
0,C0001,P009,CL0001,T1002,P,2022-09-23 00:00:00,2022-09-25 00:00:00,342.65,184.94
1,C0002,P040,CL0002,T1002,P,2022-05-08 00:00:00,2022-05-09 00:00:00,400.83,208.69
2,C0003,P042,CL0003,H2019,P,2022-04-27 00:00:00,2022-04-27 00:00:00,159.57,79.82
3,C0004,P025,CL0004,G0151,P,2022-11-15 00:00:00,2022-11-15 00:00:00,393.51,252.19
4,C0005,P027,CL0005,H2019,P,2022-05-19 00:00:00,2022-05-19 00:00:00,135.02,70.07

In [14]:
claims_df.dtypes

Claim ID              object
Provider ID           object
Client ID             object
Proc Code             object
Claim Status Code     object
From Service Date     object
To Service Date       object
Billed Amount ($)    float64
Paid Amount ($)      float64
dtype: object

In [15]:
# Converting 'From Service Date' and 'To Service Date' to type - datetime
claims_df["From Service Date"] = pd.to_datetime(claims_df["From Service Date"])
claims_df["To Service Date"] = pd.to_datetime(claims_df["To Service Date"])

In [16]:
# Checking if any null's are present :
claims_df.isnull().sum()

Claim ID             0
Provider ID          0
Client ID            0
Proc Code            0
Claim Status Code    0
From Service Date    0
To Service Date      0
Billed Amount ($)    0
Paid Amount ($)      7
dtype: int64

In [17]:
claims_df[claims_df['Paid Amount ($)'].isna()]

,Claim ID,Provider ID,Client ID,Proc Code,Claim Status Code,From Service Date,To Service Date,Billed Amount ($),Paid Amount ($)
54,C0055,P014,CL0043,H2019,D,2022-06-29,2022-06-30,190.92,NaN
57,C0058,P035,CL0047,T1002,D,2022-02-16,2022-02-16,373.14,NaN
71,C0072,P018,CL0055,H2019,D,2022-03-07,2022-03-07,109.99,NaN
82,C0083,P032,CL0009,99213,D,2022-01-26,2022-01-26,258.71,NaN
88,C0089,P006,CL0064,H2019,D,2022-12-10,2022-12-10,268.95,NaN
107,C0108,P008,CL0016,99213,D,2022-03-15,2022-03-16,301.25,NaN
145,C0146,P035,CL0068,T1002,D,2022-05-05,2022-05-06,283.54,NaN

In [18]:
# Checking distribution of claim status code
claims_df['Claim Status Code'].value_counts()

Claim Status Code
P    393
D      7
Name: count, dtype: int64

In [19]:
# From above we can see that paid amount was NULL for Denied Claims
# Filling it up with 0 for now, but this won't affect our analysis, because we have to focus on "Paid Claims"

claims_df.fillna({'Paid Amount ($)':0}, inplace = True)

In [20]:
# Checking unique number of claim id's
len(list(claims_df['Claim ID'].unique()))

400

In [21]:
# Checking the min date of From service and max date of to service
print("------ From Service Date")
print(claims_df["From Service Date"].min())
print(claims_df["From Service Date"].max())
print("------ To Service Date")
print(claims_df["To Service Date"].min())
print(claims_df["To Service Date"].max())

------ From Service Date
2020-03-14 00:00:00
2022-12-28 00:00:00
------ To Service Date
2020-03-14 00:00:00
2022-12-28 00:00:00

In [22]:
# Will apply filter on claims when we start the analysis

# ----------------------------- Sheet 2 : Clients

In [23]:
# Reading in the data from excel -
clients_df = pd.read_excel('data/Medicaid_Fraud_Case.xlsx', sheet_name='Clients')

In [24]:
clients_df.head()

,Client ID,Client Name,Date of Birth,Gender,Enrollment Start Date,Enrollment End Date
0,CL0001,Client_0,1950-01-01 00:00:00,Male,2021-12-08,2026-02-01
1,CL0002,Client_1,1950-06-22 00:00:00,Female,2021-10-23,2026-03-06
2,CL0003,Client_2,1950-12-12 00:00:00,Female,2021-05-27,2025-05-28
3,CL0004,Client_3,1951-06-03 00:00:00,Female,2022-01-14,2025-04-26
4,CL0005,Client_4,1951-11-22 00:00:00,Male,2019-11-29,2022-11-11

In [25]:
clients_df.dtypes

Client ID                        object
Client Name                      object
Date of Birth                    object
Gender                           object
Enrollment Start Date    datetime64[ns]
Enrollment End Date      datetime64[ns]
dtype: object

In [26]:
# converting Date of birth to Datetime
clients_df["Date of Birth"] = pd.to_datetime(clients_df["Date of Birth"])

In [27]:
# Checking the min / max dates of all datetime columns -
print("------ Date of Birth")
print(clients_df["Date of Birth"].min())
print(clients_df["Date of Birth"].max())
print("------ Enrollment Start Date")
print(clients_df["Enrollment Start Date"].min())
print(clients_df["Enrollment Start Date"].max())
print("------ Enrollment End Date")
print(clients_df["Enrollment End Date"].min())
print(clients_df["Enrollment End Date"].max())

------ Date of Birth
1950-01-01 00:00:00
2010-12-31 00:00:00
------ Enrollment Start Date
2019-07-25 00:00:00
2022-06-21 00:00:00
------ Enrollment End Date
2021-12-28 00:00:00
2026-10-16 00:00:00

In [28]:
# All values above seem reasonable.

In [29]:
clients_df.isnull().sum()

Client ID                0
Client Name              0
Date of Birth            0
Gender                   0
Enrollment Start Date    0
Enrollment End Date      0
dtype: int64

In [30]:
# Checking values
clients_df['Gender'].value_counts()

Gender
Male      60
Other     47
Female    43
Name: count, dtype: int64

In [31]:
# Checking unique Client ID's in claims are present in clients
missing_id = [elem for elem in list(claims_df['Client ID'].unique()) if elem not in list(clients_df['Client ID'].unique())]
missing_id

[]

# ----------------------------- Sheet 3 : Providers

In [32]:
# Reading in the data from excel -
providers_df = pd.read_excel('data/Medicaid_Fraud_Case.xlsx', sheet_name='Providers')

In [33]:
providers_df.shape

(75, 5)

In [34]:
providers_df.head()

  Provider ID Provider Name         Specialty Enrollment Date    Status
0        P001      Prov_001       Home Health      2020-01-08    Active
1        P002      Prov_002  General Medicine      2022-04-26  Inactive
2        P003      Prov_003  General Medicine      2021-07-31  Inactive
3        P004      Prov_004       Home Health      2017-07-20    Active
4        P005   Zoom Clinic  General Medicine      2017-02-09  Inactive

In [35]:
providers_df.dtypes

Provider ID                object
Provider Name              object
Specialty                  object
Enrollment Date    datetime64[ns]
Status                     object
dtype: object

In [36]:
# checking unique provider id -
print(len(list(providers_df['Provider ID'].unique())))

75

In [37]:
# Checking na values
providers_df.isnull().sum()

Provider ID        0
Provider Name      0
Specialty          8
Enrollment Date    0
Status             0
dtype: int64

In [38]:
# Checking unique values - 
providers_df['Specialty'].value_counts()

Specialty
Home Health         28
General Medicine    18
Pediatrics          13
Behavioral           8
Name: count, dtype: int64

In [39]:
# Checking unique values - 
providers_df['Status'].value_counts()

Status
Inactive    44
Active      31
Name: count, dtype: int64

In [40]:
# Checking unique Providers ID's in claims are present in providers
missing_id = [elem for elem in list(claims_df['Provider ID'].unique()) if elem not in list(providers_df['Provider ID'].unique())]
missing_id

[]

# ----------------------------- Sheet 4 : Procedure Codes

In [41]:
# Reading in the data from excel -
procedure_codes_df = pd.read_excel('data/Medicaid_Fraud_Case.xlsx', sheet_name='Procedure Codes')

In [42]:
procedure_codes_df.head(15)

,Proc Code,Description,Typical Duration (hrs),Category,Type of Service
0,99213,"Office visit, established patient",1.0,Evaluation,Medical
1,G0299,EVV services,1.0,Nursing (HCBS),Non-Medical
2,99385,"Preventive exam, new patient",1.0,Preventive,Medical
3,G0151,Physical therapy visit,1.0,Therapy,Medical
4,H2019*,Community psychiatric support,2.0,Psychiatric,Medical
5,T2003,NEMT services,1.0,Transportation,Non-Medical
6,T1002,In-home nursing services,1.0,Nursing,Medical
7,NaN,NaN,NaN,NaN,NaN
8,"*According to policy, providers must limit cla...",NaN,NaN,NaN,NaN

In [43]:
# As seen above dropping the last 2 rows from DF
procedure_codes_df = procedure_codes_df[:-2]

In [44]:
# Provider code H2019* has an * next to it. Removing the same to merge with the claims
procedure_codes_df["Proc Code"] = procedure_codes_df["Proc Code"].str.rstrip("*")

In [45]:
procedure_codes_df.head(15)

,Proc Code,Description,Typical Duration (hrs),Category,Type of Service
0,99213,"Office visit, established patient",1.0,Evaluation,Medical
1,G0299,EVV services,1.0,Nursing (HCBS),Non-Medical
2,99385,"Preventive exam, new patient",1.0,Preventive,Medical
3,G0151,Physical therapy visit,1.0,Therapy,Medical
4,H2019,Community psychiatric support,2.0,Psychiatric,Medical
5,T2003,NEMT services,1.0,Transportation,Non-Medical
6,T1002,In-home nursing services,1.0,Nursing,Medical

In [46]:
# Checking unique values
procedure_codes_df["Type of Service"].value_counts()

Type of Service
Medical        5
Non-Medical    2
Name: count, dtype: int64

In [47]:
# Checking unique Procedure code's in claims are present in procedure codes
missing_id = [elem for elem in list(claims_df['Proc Code'].unique()) if str(elem) not in list(procedure_codes_df['Proc Code'].unique())]
missing_id

[]

# ----------------------------- Saving the data

In [48]:
# After analysis, here the final cleaned df ready to be used for Analysis -
# Claims Data : final_claims_data_for_analysis
# Clients Data : clients_df
# Providers Data : providers_df
# Procedure Data : procedure_codes_df

In [49]:
# Saving the above df in separate excel sheet for analysis -
with pd.ExcelWriter("data/Medicaid_Fraud_Case_Cleaned.xlsx", engine="xlsxwriter") as writer:
    claims_df.to_excel(writer, sheet_name="Claims", index=False)
    clients_df.to_excel(writer, sheet_name="Clients", index=False)
    providers_df.to_excel(writer, sheet_name="Providers", index=False)
    procedure_codes_df.to_excel(writer, sheet_name="Procedure Codes", index=False)